
<div class="site-section bg-lightx">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-5">
                <div class="subscribe-1 ">
                    <h2>Abone olun habersiz kalmayın</h2>
                    <p class="mb-5">Birbirinden farklı postlar için mail adresinizle kayıt olun.</p>
                    <form method="post" class="d-flex">
                        <input type="text" class="form-control" placeholder="Mail Adresinizi Girin" name="Mail">
                        <input type="submit" class="btn btn-primary" value="Abone ">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
